.Join{
    display: flex;
    padding: 0 2rem;
    margin:3rem ;
    
}
.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    word-spacing: 15px;
    
}
.left-j>hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20px;
    margin: -15px;
    margin-left: 1px;
}
.left-j>div{
    display: flex;
    margin:1rem;
}
.right-j{
   display: flex;
   justify-content: center;
   align-items: flex-end;    
}
.email-container{
    display: flex;
    margin: 4rem;
    background-color: gray;
    padding: 1rem;
    
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    counter-reset: var(--lightgrayz);
}
::placeholder{
    color: var(--lightgrayz);

}
.btn-j{
    background-color: var(--orange);
    color: white;
}